{% include '_base/base.html' %}
{% block style %}
<style>
    .hidden {
        display: none;
    }
</style>
{% endblock%}
{% block scripts %}
<script type="text/javascript" charset="utf-8" src="static/script/plot_asset_over_map.js"></script>

<script type="text/javascript" charset="utf-8">
var msg = {{ data|tojson|safe}}
var pathArray = window.location.pathname.split( '/' );
var namespace = unescape(pathArray[pathArray.length - 1])

$(document).ready(function() {
    var expiration = 5; //seconds

    var time = expiration;

    var IntID;
    function startTimer() {
        console.log('Starting timer');
        i = setInterval( function() {

            time--;
            if (time === 0) {
                makeRequest();
                time = expiration
            }
            updateTimer(time)
        }, 1000);
        return i;
    }

    function stopTimer() {
        console.log('Stopping timer: ' + IntID);
        clearInterval(IntID);
    }


    function updateTimer(time) {
        /*
        var currentdate = new Date();
        var datetime = "Last Sync: " + currentdate.getDate() + "/"
                    + (currentdate.getMonth()+1)  + "/"
                    + currentdate.getFullYear() + " @ "
                    + currentdate.getHours() + ":"
                    + currentdate.getMinutes() + ":"
                    + currentdate.getSeconds();
        */
        $('#countdown').html(time);
    }
    updateTimer(time)
    $("form").submit(function( event ) {
          event.preventDefault();
          var btn = $('#timerTrigger');
          var btnVal = btn.val()

          var newVal;
          if (btnVal === 'Stop') {
            newVal = 'Start';
            stopTimer();

          } else {
            newVal = 'Stop';
            IntID = startTimer();
          }
          btn.val(newVal);
          $('#countdownContainer').toggle();

    });

    function showErrorMessage(errorMessage) {
        $('#error').show();
        $('#error').text(errorMessage);
    }

    function hideErrorMessage() {
        $('#error').hide();
    }

    function showLoading() {
        $('#loading').show();
    }

    function hideLoading(){
        $('#loading').hide();
    }


    {%block update_screen %}{%endblock%}
    makeRequest();

});
</script>
{% endblock %}
{% block subsection_subtitle %}
<div class="w3-right container">
    <div>
        <div class='w3-left hidden' id="countdownContainer">
            <span>Reloading in ...</span>
            <span id="countdown"></span>
        </div>
        <div class='w3-left hidden'  id="loading" style="display:none">
            <img src="static/img/loading.gif" style="max-width:10%"/>
        </div>
        <form>
            <input type="submit" value="Start" id="timerTrigger" />
        </form>
    </div>
</div>
<p class="w3-left container" id="error"></p>
{% endblock %}
{% block content %}{% endblock %}
