{% extends "_base/base.html" %}
{% block title %}System Settings{% endblock %}
{% block style %}{% endblock %}
{% block scripts %}{% endblock %}
{% block subsection_title %}CMX Server{% endblock %}
{% block subsection_subtitle %}Add an instance{% endblock %}
{% block content %}
<form method="post">
    <table>
        <tr>
            <td>Name: </td>
            <td>
                <input type="text" name="cmx_server_name" />
            </td>
        </tr>
        <tr>
            <td>URL: </td>
            <td><input type="text" name="cmx_server_url"/></td>
        </tr>
        <tr>
            <td>API Username: </td>
            <td><input type="text" name="cmx_server_username"/></td>
        </tr>
        <tr>
            <td>API Password: </td>
            <td><input type="password" name="cmx_server_password"/></td>
        </tr>
        <tr>
            <td>Externally accessible?</td>
            <td>
                <select name="cmx_server_externally_accessible">
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}