{% extends "monitor/monitor_base.html" %}
{% block title %}Real Time Location{% endblock %}
{% block style %}{% endblock %}
{% block scripts %}



<script type="text/javascript" charset="utf-8">
function updateScreen() {
  $.ajax({
   type: "GET",
   url: "{{url_for('mod_api.overview')}}",
   data: "user=success",
   success: function(msg){
     //$(msg).appendTo("#edix");
     //alert(msg)
     //console.log(msg)
   }
 });
}

</script>

{% endblock %}
{% block subsection_title %}Overview{% endblock %}
{% block subsection_subtitle %}<span id="count"></span> Connected Clients{% endblock %}
{% block content %}

<div class="w3-left" id="content">
    {{data}}
</div>
{% endblock %}