{% extends "monitor/monitor_base.html" %}
{% block update_screen %}
function makeRequest() {
      $.ajax({
       type: "GET",
       url: "{{url_for('mod_api.overview')}}",
       data: {},
       beforeSend: function(){
         showLoading();
       },
       complete: function(){
         hideLoading();
       },
       success: function(msg){
            time = expiration;
            updateScreen(msg)
       },
       fail: function(msg) {
         alert("Error when getting update");
         periodicRefresh = false;
       }
     });
}

function updateScreen(msg) {
    if (!msg.error) {
        var hierarchies = '<ol>';
        for (var i = 0; i < msg.hierarchies.length; i++) {
            var h = msg.hierarchies[i];
            hierarchies += '<li>'
            hierarchies += h.name
            hierarchies += '</li>'
        }
        hierarchies += '</ol>'
        $('#overview').html(hierarchies);
    } else {
        showErrorMessage(msg.error);
    }
}

{% endblock %}
{% block content %}

<div class="w3-left" id="content">
    <span id="last_updated"></span>
    <div id="overview">
    </div>
    <div class="hierarchies hidden" id="hierarchy-model">
        <h3>
            <span class="hierarchy-name"></span> | Devices: <span class="total-device-count">0</span><span class="hierarchyLimitSection hidden"> | Limit: <span class="hierarchyLimit"></span>
            <span class="occupancyStatus"> </span></span> | <a href="#" class="slideTrigger">(view devices)</a> | <a class='hierarchyLink' href="#" >(more details)</a></h3>
        <div class="hierarchy-container hidden">
            <div class="half-div left">
                <h4>Users (<span class="users-count"></span>)</h4>
                <div class="users-container"></div>
            </div>
            <div class="half-div right">
                <h4>Unidentified devices (<span class="devices-count"></span>)</h4>
                <div class="unknown-devices-container"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}