{% extends "_base/base.html" %}
{% block title %}Hierarchy Select{% endblock %}
{% block style %}{% endblock %}
{% block scripts %}
{% endblock %}
{% block subsection_title %}Select Hierarchy{% endblock %}
{% block content %}


<div class="w3-left" id="content">
<form id="form" method="post">
    <table>
        <tr>
            <td>Hierarchy</td>
            <td>
                 <select name="hierarchy">
                     {% for campus in data %}
                         {% for b in campus.buildings %}
                            {% for f in b.floors %}
                                <option value="{{campus.name}}>{{b.name}}>{{f.name}}">{{ f.name }}</option>
                                {% for z in f.zones %}
                                    <option value="{{campus.name}}>{{b.name}}>{{f.name}}>{{z.name}}">>>{{ z.name }}</option>
                                {% endfor %}
                            {% endfor %}
                         {% endfor %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit"/> </tr></td>
	</table>
</form>
</div>
{% endblock %}